<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		
		<title>{{title}}</title>
		<meta name="description" content="{{description}}">
		<meta name="keywords" content="{{keywords}}">
		
		<!-- DNS Prefetch -->
		<link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    
    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" href="">
		
		<!-- Styles -->
		<link rel="stylesheet" href="css/main.css">
		
		
	</head>
	<body>